<h2>Series</h2>
<hr>
<div class="row">
    <div class="col-lg-5 col-md-5 col-5">
        <div class="form-group">
            <label for="inputState">Categories</label>
            <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>Romance</option>
            <option>Action</option>
            <option>Science Fiction</option>
            <option>Magic</option>
          </select>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-2" style="align-self:center; margin-top: 1rem;">
        <button class="btn btn-primary btn-sm">Add</button>
    </div>

</div>
<!--  -->
<div class="row mt-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Friends</td>
                <td>Comedy</td>
                <td>
                    <button class="btn btn-secondary btn-sm">
              <i class="fas fa-edit"></i>
            </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm">
                  <i class="fas fa-eraser"></i>
          </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>